html {
     scroll-behavior: smooth;
}

body {

     background: url(../images/body_bg.png);
     background-size: 100% 100%;
     background-position: center;
     background-repeat: no-repeat;
}

.footer {
     padding-top: 120px;
     text-align: center;
}

.border_left {
     border-left: #f0390f solid 1px;
     padding-left: 40px;
}

.infoma {
     display: block;
     margin-bottom: 30px;
}

.infoma h3 {
     text-align: left;
     font-weight: 600;
     font-size: 30px;
     line-height: 24px;
     padding-bottom: 15px;
}

.ipsum {
     padding-top: 12px;
}

ul.social_icon {
     float: left;
     padding-top: 30px;
}

ul.social_icon li {
     display: inline-block;
     margin: 0 3px;
}

ul.social_icon li a {
     background: #fff;
     width: 33px;
     height: 33px;
     display: flex;
     align-items: center;
     justify-content: center;
     color: #4c1d0d;
     border-radius: 30px;
}

ul.social_icon li a i {
     font-size: 19px;
     transition: ease-in all 0.5s;
}

ul.social_icon li a:hover {
     color: #fff;
     background: #d96226;
     transition: ease-in all 0.5s;
}

.infoma ul li {
     font-size: 14px;
     text-align: left;
     line-height: 35px;
     display: inline-block;
}

.infoma ul li img {
     max-width: 84px;
}

.pad_lrft {
     padding-left: 40px;
}

ul.fullink li {
     display: block !important;
     line-height: 31px !important;
}

ul.fullink li a {
     font-size: 17px;
}

ul.fullink li a:hover {
     color: #d96226;
}

ul.conta {
     padding-top: 12px;
}

ul.conta li {
     text-align: left;
     padding-bottom: 11px;
     font-size: 17px;
     line-height: 23px;
     display: flex;
     align-items: center;
}

ul.conta li:last-child {
     padding-right: 0;
}

ul.conta li i {
     padding-right: 15px;
     text-align: center;
     font-size: 18px;
}

ul.conta li a:hover {
     color: #d96226;
}


/*newsletter*/

.form_subscri {
     margin-top: 10px;
}

.newsl {
     margin-bottom: 15px;
     width: 100%;
     height: 48px;
     background: #fff;
     color: #9e9c9c;
     font-size: 17px;
     font-weight: normal;
     border: inherit;
     padding: 0 15px;
     border-radius: 10px;
}

.subsci_btn {
     font-size: 17px;
     transition: ease-in all 0.5s;
     background-color: #d96226;
     color: #fff;
     max-width: 270px;
     width: 100%;
     display: block;
     height: 48px;
     float: right;
     line-height: 48px;
     border-radius: 10px;
}

.subsci_btn:hover {
     background-color: #000000;
     transition: ease-in all 0.5s;
     color: #fff;
}


/* end newsletter*/

.copyright {
     margin-top: 60px;
     padding-bottom: 25px;
}

.copyright p {
     color: #fff;
     font-size: 17 px;
     line-height: 22px;
     text-align: center;
     font-weight: 400;
     font-weight: normal;
}

.copyright a {
     color: #fff;
}

.copyright a:hover {
     color: #d96226;
}


/** end footer **/


a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}


a {
     color: #fff;
     text-decoration: none;
     outline: none !important;
}

*/ a,
.btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

img {
     max-width: 100%;
     height: auto;
}

:focus {
     outline: 0;
}

.btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 12px 40px;
     font-size: 16px;
}

.lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}

.form-control:focus {
     border-color: #ffffff !important;
     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
     border: none !important;
}

.badge {
     font-weight: 500;
}

blockquote {
     margin: 20px 0 20px;
     padding: 30px;
}

button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}

.full {
     float: left;
     width: 100%;
}

.full {
     width: 100%;
     float: left;
     margin: 0;
     padding: 0;
}

.titlepage {
     padding-bottom: 60px;
}

.titlepage h2 {
     font-size: 45px;
     color: #fff;
     line-height: 50px;
     font-weight: bold;
     padding: 0;
     display: inline-block;
}

.d_flex {
     display: flex;
     align-items: center;
     flex-wrap: wrap;
}

.read_more {
     font-size: 17px;
     background: #d96226;
     max-width: 171px;
     width: 100%;
     height: 48px;
     display: block;
     line-height: 48px;
     transition: ease-in all 0.5s;
     font-weight: 400;
     text-align: center;
     color: #fff;
     z-index: 999;
     border-radius: 30px;
}

.read_more:hover {
     background: #000000;
     color: #fff;
     transition: ease-in all 0.5s;
}

.text_align_left {
     text-align: left;
}

.text_align_right {
     text-align: right;
}

.text_align_center {
     text-align: center;
}

.img_responsive {
     max-width: 100%;
}





/** end header **/


/** banner section **/

.slider_main {
     padding-top: 12%;
}

.relative {
     left: 0;
     right: 0;
     text-align: left;
     position: inherit;
}

.carousel-indicators {
     bottom: 0;
}

.carousel-control.right,
.carousel-control.left {
     background-image: none;
}

.carousel-item {
     min-height: 350px;
     height: 100%;
     width: 100%;
}

.board .read_more {
     margin-top: 55px;
     text-transform: uppercase;
     font-weight: 600;
     max-width: 250px;
     height: 65px;
     line-height: 65px;
}

.relative h3 {
     margin-top: 20px;
     padding-bottom: 43px;
     font-size: 80px;
     font-weight: 600;
     text-transform: uppercase;
     line-height: 80px;
}

.carousel .icon-container {
     display: inline-block;
     font-size: 25px;
     line-height: 25px;
     padding: 1em;
     text-align: center;
     border-radius: 50%;
}

.slider_main .carousel-indicators {
     display: none;
}

#carouselExampleIndicators .carousel-control-prev,
#carouselExampleIndicators .carousel-control-next {
     width: 66px;
     height: 66px;
     background-color: #f75808;
     color: #000000;
     font-size: 20px;
     opacity: 1;
     border-radius: 50px;
     top: 100%;
}

#carouselExampleIndicators .carousel-control-prev {
     left: 39%;
}

#carouselExampleIndicators .carousel-control-next {
     right: 45%;
}

#carouselExampleIndicators .carousel-control-next:focus,
#carouselExampleIndicators .carousel-control-next:hover,
#carouselExampleIndicators .carousel-control-prev:focus,
#carouselExampleIndicators .carousel-control-prev:hover {
     color: #000000;
}

.icon-arrow {
     width: 48px;
     height: 48px;
}

.banner_img {
     padding-right: 50px;
}

.banner_img figure {
     margin: 0;
}


/** end banner section **/


/** about section **/

.about {
     background: #fff;
     padding: 90px 0;
     margin-top: 180px;
     position: relative;
}



.about .titlepage {
     padding-bottom: 0;
}

.about .titlepage h2 {
     padding-bottom: 30px;
     color: #1e1e1e;
}

.about .titlepage p {
     font-weight: 400;
     font-size: 17px;
     line-height: 30px;
     color: #303030;
     padding-bottom: 59px;
}

.about_img figure {
     margin: 0;
}

/* mobile screen */
@media all and (max-width: 768px) {


     .relative h3 {
          margin-top: 70px;
          padding-bottom: 43px;
          font-size: 25px;
          font-weight: 400;
          text-transform: uppercase;
          line-height: 30px;
     }



     .board {
          margin-left: auto;
          margin-right: auto;
     }

     .board .read_more {
          margin-left: auto;
          margin-right: auto;
          margin-top: 25px;
          text-transform: uppercase;
          font-weight: 600;
          max-width: 250px;
          height: 65px;
          line-height: 65px;
     }

     .banner_img {
          margin-top: 10%;
          padding-right: 0px;
     }

     #carouselExampleIndicators .carousel-control-prev,
     #carouselExampleIndicators .carousel-control-next {
          width: 60px;
          height: 60px;
          background-color: #f75808;
          color: #000000;
          font-size: 20px;
          opacity: 1;
          border-radius: 50px;
          top: 90%;
     }

     #carouselExampleIndicators .carousel-control-prev {
          left: 30%;
     }



     #carouselExampleIndicators .carousel-control-next {
          right: 30%;
     }

     #carouselExampleIndicators .carousel-control-next:focus,
     #carouselExampleIndicators .carousel-control-next:hover,
     #carouselExampleIndicators .carousel-control-prev:focus,
     #carouselExampleIndicators .carousel-control-prev:hover {
          color: #000000;
     }

     .icon-arrow {
          width: 48px;
          height: 48px;
     }

     /* Footer Main */
     .footer {
          padding-top: 120px;
          text-align: center;
          background-color: #4c1d0d;
          /* Optional: Adjust as needed for background color */
          color: white;
     }

     /* .border_left {
          border-left: #f0390f solid 1px;
          padding-left: 40px;
     } */

     .infoma {
          display: block;
          margin-bottom: 30px;
     }

     /* .infoma h3 {
          text-align: left;
          font-weight: 600;
          font-size: 30px;
          line-height: 24px;
          padding-bottom: 15px;
     } */

     .ipsum {
          padding-top: 12px;
          font-size: 16px;
          text-align: left;
     }

     /* Social Icons */
     ul.social_icon {
          padding-top: 30px;
          margin-left: 25%;

     }

     ul.social_icon li {
          display: inline-block;
          margin: 0 3px;
     }

     ul.social_icon li a {
          background: #fff;
          width: 33px;
          height: 33px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #4c1d0d;
          border-radius: 30px;
          transition: all 0.5s ease-in-out;
     }

     ul.social_icon li a i {
          font-size: 19px;
     }

     ul.social_icon li a:hover {
          color: #fff;
          background: #d96226;
     }

     /* Contact List */
     ul.conta {
          padding-top: 12px;
          list-style: none;
          padding-left: 0;
     }

     ul.conta li {
          text-align: center;
          margin-left: 10%;
          padding-bottom: 11px;
          font-size: 17px;
          line-height: 23px;
          display: flex;
          align-content: center;
          /* align-items: center; */
     }

     ul.conta li a {
          color: white;
     }

     ul.conta li a:hover {
          color: #d96226;
     }

     /* Links */
     ul.fullink {
          list-style: none;
          padding-left: 0;
     }

     ul.fullink li {
          line-height: 31px;
     }

     ul.fullink li a {
          font-size: 17px;
          color: white;
          text-decoration: none;
     }

     ul.fullink li a:hover {
          color: #d96226;
     }

     /* Newsletter */
     .form_subscri {
          margin-top: 10px;
     }

     .newsl {
          margin-bottom: 15px;
          width: 100%;
          height: 48px;
          background: #fff;
          color: #9e9c9c;
          font-size: 17px;
          font-weight: normal;
          border: none;
          padding: 0 15px;
          border-radius: 10px;
     }

     /* .subsci_btn {
          font-size: 17px;
          transition: all 0.5s ease-in-out;
          background-color: #d96226;
          color: #fff;
          max-width: 270px;
          width: 100%;
          height: 48px;
          line-height: 48px;
          text-align: center;
          border-radius: 10px;
          border: none;
          cursor: pointer;
     } */

     .subsci_btn:hover {
          background-color: #000;
          color: #fff;
     }

     /* Copyright */
     .copyright {
          margin-top: 60px;
          padding-bottom: 25px;
     }

     .copyright p {
          font-size: 17px;
          line-height: 22px;
          font-weight: normal;
          color: white;
     }

     .copyright a {
          color: white;
          text-decoration: none;
     }

     .copyright a:hover {
          color: #d96226;
     }


     /* Responsive Adjustments (Optional) */

     .footer .col-md-3 {
          margin-bottom: 20px;
          text-align: center;
     }

     .border_left {
          border-left: none;
          padding-left: 0;
     }

     .infoma h3 {
          text-align: center;
          margin-right: 20px;
          color: white;
     }

     /* ul.social_icon {
          justify-content: center;
     } */
     ul.conta li .emailss {
          /* color: red; */
          margin-left: 20%;
     }

     ul.fullink {
          margin-left: 33%;
     }

     .subsci_btn {
          font-size: 17px;
          transition: all 0.5s ease-in-out;
          background-color: #d96226;
          color: #fff;
          max-width: 270px;
          width: 100%;
          height: 48px;
          line-height: 48px;
          text-align: center;
          border-radius: 10px;
          border: none;
          cursor: pointer;
          margin-right: 8.5%;
     }




}